* {
  margin: 0;
  text-align: center;
  line-height: 1.75em;
  font-family: 'Raleway', 'Avenir', sans-serif;
}

p {
  margin-bottom: 1.75em;
}

nav {
  height: 4em;
  background-color: black;
  padding: 20px;
  /*margin: -10px -25px -10px -25px;*/
}

.logo {
  /*margin-top: 5px;*/
}

.heroimage {
  /* The image used */
  background-image: url("./images/hero2.jpg");
  background-position: center;
  /*opacity: 0.5;*/
  /* Set a specific height */
  height: 700px;
  height: calc(100vh - 4em);
  /*margin: -25px;*/
  z-index: 2000;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}


.heading {
  padding-top: 30vh;
  margin: 0 auto 0 auto;
  max-width: 40em;
  width: 90%;
  font-size: 30px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
  color: white;
}

.subheading {
  margin-bottom: 1em;
}

.button, .calltoaction {
  position: inline-block;
  padding: 0.7em;
  margin: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.2;
  background-color: grey;
  text-decoration: none;
  color: white;
}

.calltoaction {
  background-color: #C6161F;
}

.description {
  /*margin: 50px 300px 50px 300px;*/
  margin: 50px auto 50px auto;
  max-width: 40em;
  width: 90%;
  font-size: 16px;
}

#keep-updated {
  background-color: #FFEEEE;
  height: 400px;
}

.email {
  width: 300px;
  height: 2.25em;
  font-size: 16px;
}

.validate {
  margin-bottom: 1.75em;
}
